/*container logo ------------------------------------------------------------*/

.container-logo{
  margin-bottom: 20px;
  border-bottom: 4px solid #001E62 ;
  text-align: center;
}

.pact-logo{
  width: 250px;
}

.text-logo{
  color: #001E62;
  display: inline-block;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  vertical-align: middle;
}
/*flag and name of country ----------------------------------------------------*/
.container-header-country{
  
  margin-top: 100px;
  text-align: center;
  
}


.flag{
  border-radius: 100%;
  width: 100px;
}

.title_country{
  color: #001E62;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}




/*Leaflet ---------------------------------------------------------------------*/

.leaflet-container{
  background-color: white !important;
  border: 3px solid white;
  border-radius: 20px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  display: none !important;
}
.leaflet-control-attribution{

    display: none !important;
  }
