:root{
  --btn-color: #3E0B08;
  --country-title-color:  #001E62;
  --form-bg-color: #001E62;
  --form-multselect-bg: #DC4234;
  --form-multselect-text: white;
  --selectize-dropdown-content: #DC4234;
  --form-text-color: white;
  --navbar-border-color: #F0A85C;

  
}


.row{
  padding: 0 15px;
}

/*container logo ------------------------------------------------------------*/

.container-logo{
  border-bottom: 4px solid #001E62 ;
  margin: 0 15px 15px 15px;
  padding: 15px 0;
  text-align: center;
}


.pact-logo{
  width: 250px;
}

.text-logo{
  color: #001E62;
  display: inline-block;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  vertical-align: middle;
}


/*Form ------------------------------------------------------------------------*/
.form{
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-bg-color);
  color:var(--form-text-color);
  font-family: 'Noto Sans', sans-serif;
    
}

input[checked] {
  background-color: yellow;
}

  
/*colors of single selects */
  .selectize-control.single,.selectize-input,.selectize-dropdown {
    color: var(--form-text-color) !important;
  }
  

/*colors of multiple selects*/  
  .selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: var(--form-multselect-bg) !important;
    color: var(--form-multselect-text) !important;
    border: 0 solid rgba(0, 0, 0, 0);
}
  
  .selectize-dropdown-content{
    color: var(--selectize-dropdown-content);
  }
  
  .option:hover,.active{
    background-color: var(--form-multselect-bg) !important;
    color:var(--form-multselect-text) !important ;
  }



/*flag and name of country ----------------------------------------------------*/
.container-header-country{
  
  margin-top: 40px;
  text-align: center;
  
}


.flag{
  border-radius: 100%;
  width: 100px;
}

.title_country{
  color: var(--country-title-color);
  display: inline;
  margin: auto 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}




/*Leaflet ---------------------------------------------------------------------*/

.leaflet-container{
  background-color: white !important;
  border: 3px solid white;
  border-radius: 20px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  display: none !important;
}
.leaflet-control-attribution{

    display: none !important;
  }


/*Table ---------------------------------------------------------------------------*/
.rt-th-content{
  color: var(--form-bg-color) !important;
  font-weight: 700 !important;
}

.rt-tr{
  font-size: 11px;
}

/*Dialog------------------------------------*/
.modal-dialog{
  margin:auto;
  width: 90%;
  height: 80%;
}

text[text-anchor="start"] {
  color: var(--country-title-color) !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
 
}


.sankeyNetwork svg{
  width: 60% !important;
  height: 100% !important;
}

.title-bens{
  text-align: center;
  font-weight: bold;
  color: var(--country-title-color);
  margin-bottom: 60px;
  margin-top: 50px;
}
